<%- include('header'); -%>
  <!-- Start Page Title -->
  <div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Design</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End Page Title -->

<!-- Start Features Area -->
    
<div class="features-area ptb-80 bg-f7fafd" id="features">
    <div class="container">
        

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                                width="24" height="24"
                                                                                viewBox="0 0 24 24" fill="none"
                                                                                stroke="currentColor" stroke-width="2"
                                                                                stroke-linecap="round"
                                                                                stroke-linejoin="round"
                                                                                class="feather feather-git-branch">
                                                                                <line x1="6" y1="3" x2="6" y2="15">
                                                                                </line>
                                                                                <circle cx="18" cy="6" r="3"></circle>
                                                                                <circle cx="6" cy="18" r="3"></circle>
                                                                                <path d="M18 9a9 9 0 0 1-9 9"></path>
                                                                            </svg>

                    </div>

                    <h3>User Experience Design</h3>
                    <p>Seamlessly integrate branding, functionality,
                        usability and accessibility into your
                        product. We enhance user interaction and
                        deliver experiences that are meaningful<br>
                        and delightful.
                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24"
                        viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-check-circle">
                        <path
                            d="M22 11.08V12a10 10 0 1 1-5.93-9.14">
                        </path>
                        <polyline
                            points="22 4 12 14.01 9 11.01">
                        </polyline>
                    </svg>
                    </div>

                    <h3>User Interface Design</h3>
                    <p>We enhance usability and craft designs that
                        are unconventional and intuitively guides
                        users into a splendid visual journey.</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="icon bg-c679e3">
                        <svg xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24"
                        viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-settings">
                        <circle cx="12" cy="12" r="3"></circle>
                        <path
                            d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                        </path>
                    </svg>

                    </div>

                    <h3>User Experience Review</h3>
                    <p>Identify usability issues, discuss UX
                        improvements, and radically improve your
                        digital product with our UX review sessions.</p>
                </div>
            </div>

            
        </div>
    </div>
</div>
<!-- End Features Area -->
<%- include('footer'); -%>