<%- include('header'); -%>
  <!-- Start Page Title -->
  <div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Discover</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End Page Title -->

<!-- Start Features Area -->
    
<div class="features-area ptb-80 bg-f7fafd" id="features">
    <div class="container">
        

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24"
                        viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-grid">
                        <rect x="3" y="3" width="7" height="7">
                        </rect>
                        <rect x="14" y="3" width="7" height="7">
                        </rect>
                        <rect x="14" y="14" width="7"
                            height="7"></rect>
                        <rect x="3" y="14" width="7" height="7">
                        </rect>
                    </svg>
                    </div>

                    <h3>Scoping sessions</h3>
                    <p>Enlighten our tech experts about your
                        breakthrough idea in an intensive session.
                        We characterise your product idea and define
                        the Scope of work.
                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                                width="24" height="24"
                                                                                viewBox="0 0 24 24" fill="none"
                                                                                stroke="currentColor" stroke-width="2"
                                                                                stroke-linecap="round"
                                                                                stroke-linejoin="round"
                                                                                class="feather feather-mouse-pointer">
                                                                                <path
                                                                                    d="M3 3l7.07 16.97 2.51-7.39 7.39-2.51L3 3z">
                                                                                </path>
                                                                                <path d="M13 13l6 6"></path>
                                                                            </svg>
                    </div>

                    <h3> Business Analysis</h3>
                    <p>We elicit business needs, study the
                        competitive landscape, perform strategic
                        analysis, and provide bespoke solutions.</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="icon bg-c679e3">
                        <svg xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24"
                        viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-users">
                        <path
                            d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2">
                        </path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M23 21v-2a4 4 0 0 0-3-3.87">
                        </path>
                        <path d="M16 3.13a4 4 0 0 1 0 7.75">
                        </path>
                    </svg>
                    </div>

                    <h3>Product Discovery Workshop and Design Sprints</h3>
                    <p>We elicit business needs, study the
                        competitive landscape, perform strategic
                        analysis, and provide bespoke solutions.</p>
                </div>
            </div>

            
        </div>
    </div>
</div>
<!-- End Features Area -->
<%- include('footer'); -%>