<%- include('header'); -%>

        <!-- Start Page Title -->
        <div class="page-title-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <h2>FAQ</h2>
                    </div>
                </div>
			</div>
			
			<div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
			<div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
			<div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
			<div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
			<div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
			<div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
			<div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
			<div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
        </div>
        <!-- End Page Title -->
        
        <!-- Start FAQ Area -->
		<div class="faq-area ptb-80">
			<div class="container">
				<div class="faq-accordion">
					<ul class="accordion">
						<li class="accordion-item">
							<a class="accordion-title active" href="javascript:void(0)"><i class="flaticon-plus"></i> I want to develop an app for my business, but how can I start?</a>
							<p class="accordion-content show">You can reach us directly at +91 9056659022 or drop a mail with your requirement to info@cognnox.com 
								to share your app idea with us. Our team will reach you within 24 hours.</p>
						</li>
						
						<li class="accordion-item">
							<a class="accordion-title" href="javascript:void(0)"><i class="flaticon-plus"></i> How long will it take for my app to be developed?</a>
							<p class="accordion-content">The time length for app development is based totally on your requirement and complexity of the project.</p>
						</li>
						
						<li class="accordion-item">
							<a class="accordion-title" href="javascript:void(0)"><i class="flaticon-plus"></i> Can you develop my app on multiple platforms?</a>
							<p class="accordion-content">Yes, we do strengthen your app on more than one structures such as iOS, Android, Windows, BlackBerry and
								cross platform.</p>
						</li>
						
						<li class="accordion-item">
							<a class="accordion-title" href="javascript:void(0)"><i class="flaticon-plus"></i> Once my website design is completed, what after-sales service does one offer?</a>
							<p class="accordion-content">We grant full help to any internet site we format and are constantly accessible to come upon troubles or
								require new enhancements. We additionally provide internet site internet hosting and upkeep. </p>
						</li>
						
						<li class="accordion-item">
							<a class="accordion-title" href="javascript:void(0)"><i class="flaticon-plus"></i>How can I be trusted that my app idea will be secured?						</a>
							<p class="accordion-content">The non-disclosure agreement will be signed  by way of each you and us. This will protect the assets of each the 
								parties. The source code will be delivered to you and you will be the sole owner of your source 
								code.</p>
						</li>
						
						<li class="accordion-item">
							<a class="accordion-title" href="javascript:void(0)"><i class="flaticon-plus"></i> What Are The Services Provided By COGNNOX?</a>
							<p class="accordion-content">Cognnox Intelligent systems is a leading blockchain development company.
 
								We are Providing a great overall performance of Website Design, Web Development(Android & iOS) and Digital Marketing 
								Services together with Search Engine Optimization(SEO), Social Media Marketing(SMM), Search Engine 
								Marketing(SEM) (or) Pay Per Click(PPC), Graphics & Banner, Brochure Design and so forth.</p>
						</li>
					</ul>
				</div>

				<!-- <div class="faq-contact">
					<h3>Ask Your Question</h3>
					<form>
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="form-group">
									<input type="text" placeholder="Name" class="form-control">
								</div>
							</div>
							
							<div class="col-lg-6 col-md-6">
								<div class="form-group">
									<input type="email" placeholder="Email" class="form-control">
								</div>
							</div>
							
							<div class="col-lg-12 col-md-12">
								<div class="form-group">
									<input type="text" placeholder="Subject" class="form-control">
								</div>
							</div>
							
							<div class="col-lg-12 col-md-12">
								<div class="form-group">
									<textarea name="message" cols="30" rows="6" placeholder="Message" class="form-control"></textarea>
								</div>
							</div>
							
							<div class="col-lg-12 col-md-12">
								<button class="btn btn-primary" type="submit">Submit Now!</button>
							</div>
						</div>
					</form>
				</div> -->
			</div>
		</div>
		<!-- End FAQ Area -->  
          <%- include('footer'); -%>