<!-- Start Footer Area -->
<footer class="footer-area bg-f7fafd">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a href="/"><img src="assets/img/logo.png" alt="logo"></a>
                    </div>
                    <p>Cognnox Intelligent systems is a leading blockchain development company. We are working with some
                        very popular projects in the last five years. We are disrupting the blockchain universe with our
                        top-notch innovative solutions. Our developers are contributing to the top open-source
                        technologies of the world. If you want to see a demo of what we are doing, please contact us.
                    </p>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Company</h3>
                    <ul class="list">
                        <li><a href="about">About Us</a></li>
                        <li><a href="services_footer">Services</a></li>
                        <li><a href="/#features">Features</a></li>
                        <!-- <li><a href="#">Our Pricing</a></li> -->
                        <li><a href="blog">Our Blogs</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Support</h3>
                    <ul class="list">
                        <li><a href="faq">FAQ's</a></li>
                        <li><a href="privacypolicy">Privacy Policy</a></li>
                        <li><a href="termsandconditions">Terms & Condition</a></li>
                        <!-- <li><a href="#">Community</a></li> -->
                        <li><a href="contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Address</h3>

                    <ul class="footer-contact-info">
                        <li><i data-feather="map-pin"></i> Near Surya Motors, Above Aye Finance, Abohar, Punjab
                            152116</li>
                            <li><i data-feather="map-pin"></i>432, Second Floor, CMR Main Rd, HRBR Layout 2nd Block, Kalyan Nagar, Bengaluru, Karnataka 560043</li>
                        <li><i data-feather="mail"></i> Email: <a href="mailto:info@cognnox.com">info@cognnox.com</a>
                        </li>
                        <li><i data-feather="phone-call"></i> Phone: <a href="tel:+918699819022">+91 8699819022</a></li>
                    </ul>
                    <ul class="social-links">
                        <!-- <li><a href="https://api.whatsapp.com/send?phone=8699819022" class="whatsapp" target="_blank"><i data-feather="whatsapp"></i></a></li> -->
                        <li><a href="https://www.facebook.com/cognnox/?ref=py_c" class="facebook" target="_blank"><i data-feather="facebook"></i></a></li>
                        <li><a href="https://twitter.com/cognnox" class="twitter" target="_blank"><i data-feather="twitter"></i></a></li>
                        <li><a href="https://api.whatsapp.com/send?phone=8699819022" class="whatsapp" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>
                        </a></li>
                        <li><a href="https://www.instagram.com/cognnox_intelligent_systems/" class="instagram" target="_blank"><i data-feather="instagram"></i></a></li>
                        <!-- <li><a href="#" class="linkedin" target="_blank"><i data-feather="linkedin"></i></a></li> -->
                        <!-- <li><a href="#" class="whatsapp" target="_blank"><i data-feather="whatsapp"></i></a></li> -->
                        
                    </ul>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="copyright-area">
                    <p>Copyright @2021 <a href="https://cognnox.com/">Cognnox.com</a>
                        </a> All rights reserved</p>
                </div>
            </div>
        </div>
    </div>

    <img src="assets/img/map.png" class="map" alt="map">
    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</footer>
<!-- End Footer Area -->

<div class="go-top"><i data-feather="arrow-up"></i></div>

<!-- All JS Link -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/meanmenu.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/magnific-popup.min.js"></script>
<script src="assets/js/appear.min.js"></script>
<script src="assets/js/odometer.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/js/isotope.pkgd.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/feather.min.js"></script>
<script src="assets/js/form-validator.min.js"></script>
<script src="assets/js/contact-form-script.js"></script>
<script src="assets/js/main.js"></script>
</body>

</html>