<%- include('header'); -%>

    <!-- Start Page Title -->

    <div class="page-title-area">

        <div class="d-table">

            <div class="d-table-cell">

                <div class="container">

                    <h2>Privacy Policy </h2>

                </div>

            </div>

        </div>



        <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>

        <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>

        <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>

        <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>

        <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>

        <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>

        <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>

        <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>

    </div>

    <!-- End Page Title -->


    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>We at Cognnox are committed to protecting your privacy. We do not indulge in selling, spamming,
                    renting, leasing, or giving away your information to any third-party.
                    <br>Our policy helps you understand how any personal data you provide us or we collect from you is
                    used and processed. The Privacy Policy is reviewed periodically and the changes posted on this page.
                    In case the changes are significant, we keep you updated by sending an email notification.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-12 col-md-12">
            <div class="project-details-desc">
                <h3>Information we collect</h3>
                <h6>Personal Information</h6>

                <p>While you are free to use the website without providing any personal information, when you visit the
                    Website or register for the Subscription Services, we request you to provide your personal
                    information, and we collect Navigational Information.</p>

                <p>The personal information that we may collect includes any information that is voluntarily submitted
                    by you to us like contact information, name, e-mail address, company name, address, phone number,
                    and other information about yourself or your business or through subscription to a newsletter.
                    Personal Information can also include information about you that is available on the internet, such
                    as from Facebook, LinkedIn, Twitter, and Google, or publicly available information that we acquire
                    from service providers.</p>
                <p>Besides this, we collect the navigational information that refers to information about your computer
                    and your visits to this website such as your IP address, geographical location, browser type,
                    referral source, length of visit, and pages viewed.</p>

                <ul>This information may be gathered and collected from you at different points, including but not
                    limited to the following:
                    <li>
                        At the time of communicating with you as a customer or prospective customer.
                    </li>
                    <li>When you prefer to visit our website or make use of our platform.</li>
                    <li>While registering you as an end-user of our products or services and one account is specially
                        made for you.</li>
                    <li>When you subscribe to our newsletter through our website.</li>
                    <li>When you fill our “Contact Us” form to get in touch with our experts.</li>
                </ul>
                <h6>Non-personal Information</h6>
                <p>The Non-personal information we collect includes the browser name you use, the type of computer,
                    technical information like operating system and Internet service providers, and other similar
                    information via Google Analytics.</p>



                <h3>Cookies</h3>
                <p>Cookies help us to enhance the user experience when they are browsing this website and enable the
                    users to make full use of the features available on this website. We do not use cookies to collect
                    or record information such as your name, address, or personal details.</p>
                <h3>How do we use cookies?</h3>
                <p>We use cookies on our website for a single purpose, and that is to collect statistical information
                    about how visitors use our website, this helps us in improving your experience and the way our
                    website works and measures our success.</p>
                <p>Most web browsers automatically accept cookies. Unless you have adjusted your browser settings so
                    that it will refuse cookies, cookies will be set when you access our website. By continuing to use
                    and browse this website, you agree and consent to our use of cookies. If you do not provide the
                    consent, please understand that certain features of our website may not function as intended.</p>

                <ol>Here, you can find how we use cookies:-
                    <li><b>Session cookies:</b> Session cookies are cached mainly for the duration of your use of our
                        website.
                    </li>
                    <li><b>Permanent cookies:</b> Permanent cookies are stored in your terminal device for the time
                        specified
                        in the Cookie files parameters or until you delete.</li>
                </ol>

                <h3>Disclosure of Information</h3>
                <p>At <b>cognnox</b> we are committed to not disclose the gathered personal information to any other
                    party than
                    in agreement with this Privacy Policy. However, under the following circumstances we may need to
                    disclose your information:</p>

                <h3>Third-Party Links</h3>
                <p>Our website may from time to time contain links to and from other websites. If you follow a link to
                    any of these sites, please note that these websites have their own privacy policies and we do not
                    take any responsibility or liability for these policies. Please check the policies before you submit
                    any personal data to any of these websites. Our newsletter may contain external links which are only
                    shared for informational purposes only.</p>
                <h3>Data Security</h3>
                <p>We follow the best practices in ensuring your data security and have policies and procedures in place
                    to ensure our compliance with the relevant rules and regulations. We secure the personal and
                    non-personal information you provide on computer servers in a controlled, secure environment,
                    protected from unauthorized access, use, or disclosure. Also, we ensure all personal and
                    non-personal information is protected using appropriate physical, technical, and organizational
                    measures.</p>

                <h3>Changes to Privacy Policy</h3>
                <p>Cognnox Limited reserves the right to amend, change, or edit this Privacy Policy at any time without
                    any prior notice. Whenever we amend any part of this privacy policy, we update our users with the
                    last updated date at the bottom of this page. We encourage our users to keep reviewing this page
                    frequently in order to stay updated with the recent changes. The continuing use of our website
                    signifies that you agree and accept those changes.</p>

                <h3>Your rights</h3>
                <p>The users have the right to find out about what information we hold about them. If you wish to access
                    and/or request us to make corrections to the personal information that you have provided us, please
                    contact us via email to info@cognnox.com
<p>
                    <b>
                
                In case of any queries or questions regarding our Privacy Policy, you can reach us using Contact us form
                or email to info@cognnox.com
                 </b></p>

            </div>
        </div>
    </div>


    <%- include('footer'); -%>