<%- include('header'); -%>
<!-- Start Page Title -->
<div class="page-title-area">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <h2>Scale</h2>
      </div>
    </div>
  </div>

  <div class="shape1"><img src="assets/img/shape1.png" alt="shape" /></div>
  <div class="shape2 rotateme">
    <img src="assets/img/shape2.svg" alt="shape" />
  </div>
  <div class="shape3"><img src="assets/img/shape3.svg" alt="shape" /></div>
  <div class="shape4"><img src="assets/img/shape4.svg" alt="shape" /></div>
  <div class="shape5"><img src="assets/img/shape5.png" alt="shape" /></div>
  <div class="shape6 rotateme">
    <img src="assets/img/shape4.svg" alt="shape" />
  </div>
  <div class="shape7"><img src="assets/img/shape4.svg" alt="shape" /></div>
  <div class="shape8 rotateme">
    <img src="assets/img/shape2.svg" alt="shape" />
  </div>
</div>
<!-- End Page Title -->

<!-- Start Features Area -->

<div class="features-area ptb-80 bg-f7fafd" id="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="icon">
            <i data-feather="settings"></i>
          </div>

          <h3>Performance</h3>
          <p>
            While creating App or internet site we emphasis on overall
            performance element for problem free operations. We create the app
            or internet site which have to function nicely beneath stress with
            low latency.
          </p>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="icon">
            <i data-feather="mail"></i>
          </div>

          <h3>Load Balancing</h3>
          <p>
            Under development we tracks stress on nodes and services, then
            spreads the workload throughout nodes to stop bottlenecks and keep
            away from making use of too a lot stress to a single component. With
            the assist of Load Balancing we can add nodes without difficulty and
            we can exchange the rule for managing new request and routing
            visitors for easy operations.
          </p>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="icon bg-c679e3">
            <i data-feather="grid"></i>
          </div>

          <h3>Cloud Computing</h3>
          <p>
            Rather than preserving documents on a proprietary tough force or
            nearby storage device, we used cloud-based storage which makes it
            feasible to keep them to a faraway database. As long as an digital
            gadget has get admission to to the web, it has get right of entry to
            to the records and the software program applications to run it.
          </p>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="icon bg-c679e3">
            <i data-feather="info"></i>
          </div>

          <h3>Cost</h3>
          <p>
            Highly scalable apps don’t have to be unreasonably luxurious to
            build, maintain, or scale. Planning for scalability for the duration
            of improvement approves the app to increase as demand will increase
            except inflicting undue costs
          </p>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="icon bg-eb6b3d">
            <i data-feather="mouse-pointer"></i>
          </div>

          <h3>Trustful Communication</h3>
          <p>
            Cognnox team level, involves commitment, collaboration and
            competence communication with one another: should be consistent and
            meaningful so on avoid miscommunication. Commitment to a team: helps
            teammates meet goals and is ready to believe each other.
          </p>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="icon bg-eb6b3d">
            <i data-feather="bell"></i>
          </div>

          <h3>Deadline Reminders</h3>
          <p>
            As web designers, we've been round the block with our process many,
            repeatedly and it's our responsibility to make sure the project
            moves along at the proper pace to make sure we'll hit the completion
            date with a finished project that's able to be handed off.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Features Area -->
<%- include('footer'); -%>
