<%- include('header') %>



	<!-- Start Page Title -->
	<div class="page-title-area">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="container">
					<h2>Cognnox Services</h2>
				</div>
			</div>
		</div>

		<div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
		<div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
		<div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
		<div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
		<div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
		<div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
		<div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
		<div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
	</div>
	<!-- End Page Title -->

	<!-- Start Features Details Area -->
	<div class="features-details-area ptb-80">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 features-details-image">
					<img src="https://www.jellyfishtechnologies.com/new/images/blockchain-developments-services.jpg" class="wow fadeInUp" alt="image">
				</div>

				<div class="col-lg-6 features-details">
					<div class="features-details-desc">
						<h3>Blockchain Development</h3>
						<p>The Blockchain Development group at Cognnox Intelligents is quite skilled in cryptocurrency,
							statistics science, and serverless computing that helps organizations throughout a variety
							of industries to optimize their commercial enterprise needs. Our befitting blockchain
							development services flip the special aspects of blockchain into your blessings and renders
							the superior options to gain past expectations. From clever contracts to DApps, our
							consumers from a number industries are leveraging our know-how to beautify their businesses.
							<a href="blockchain">Read More.</a>
						</p>

						<ul class="features-details-list">
							<li>Smart Contracts Development</li>
							<li>End to End DApp solutions</li>
							<li>Crypto Exchange Development</li>
							<li>Custom Blockchian Solutions</li>
							<li>Crypto Wallet Development</li>
							<li>Crypto Token Development</li>

						</ul>
					</div>
				</div>
			</div>

			<div class="separate"></div>

			<div class="row align-items-center">
				<div class="col-lg-6 features-details">

					<div class="features-details-desc">
						<h3>Responsive Website </h3>
						<p>Cognnox Intelligent Systems Pvt. Ltd. is popular in Responsive Web Development Company India.
							Once if you done with your website work you should look at your responsive work. If you are
							looking for most affordable, creative, Reliable and perfect work for your website.<a href="responsive">Read More.</a> </p>

						<ul class="features-details-list">
							<li>Strategy</li>
							<li>Product Design</li>
							<li>Development</li>
							<li>Quality Assurance</li>
							<!-- <li>Crypto Wallet Development</li> -->
							<!-- <li>Crypto Token Development</li> -->

						</ul>
					</div>
				</div>


				<div class="col-lg-6 features-details-image">
					<img src="https://miro.medium.com/max/1148/1*cGUFYYPI2dFxwz2wlu6zGg.png" class="wow fadeInUp" alt="image">
				</div>
			</div>

			<div class="separate"></div>


			<div class="row align-items-center">
				<div class="col-lg-6 features-details-image">
					<img src="https://www.valuecoders.com/blog/wp-content/uploads/2019/11/android-with-iot.jpg" class="wow fadeInUp" alt="image">
				</div>

				<div class="col-lg-6 features-details">
					<div class="features-details-desc">
						<h3>Apps Development
						</h3>
						<p>Our mobile apps developers make beautiful, interactive mobile applications that open
							up engaging chances for users to interact with your business brand. This increases
							recognized value of your brand, and establish that you are at the cutting edge of your
							market.With 5+ years of experience, our Android Apps development Bangalore Team has seen
							huge growth due to companies like yours, who are looking to developing an mobile application
							where you can engage with your consumers, increase brand loyalty, and get valuable &
							targeted customer data.<a href="blockchain">Read More.</a>
						</p>

						<ul class="features-details-list">
							<li>Android App Development</li>
							<li>iOS App Development</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="separate"></div>

			<div class="row align-items-center">
				<div class="col-lg-6 features-details">

					<div class="features-details-desc">
						<h3>Web Development
						</h3>
						<p>Web development is that the building and maintenance of websites; it is the work that happens
							behind the scenes to form an internet site look great, work fast and perform well with a
							seamless user experience.<a href="web_development">Read More.</a>

						</p>

						<ul class="features-details-list">
							<li>Wordpress Development
							</li>
							<li>Portal Development
							</li>
							<li>E-Commerce Development</li>
							<li>Website Development and Maintenance
							</li>
							<!-- <li>Crypto Wallet Development</li> -->
							<!-- <li>Crypto Token Development</li> -->

						</ul>
					</div>
				</div>


				<div class="col-lg-6 features-details-image">
					<img src="https://negliadesign.com/wordpress/assets/Website-Development-feature3.001.jpg" class="wow fadeInUp" alt="image">
				</div>
			</div>

			<div class="separate"></div>

			<div class="row align-items-center">
				<div class="col-lg-6 features-details-image">
					<img src="https://files.techmahindra.com/static/img/iot-thumbnail.jpg" class="wow fadeInUp" alt="image">
				</div>

				<div class="col-lg-6 features-details">
					<div class="features-details-desc">
						<h3>Internet of Things

						</h3>
						<p>The Internet of Things is the thinking of connecting any gadget to the Internet and to
							different related devices. The IoT is a massive community of linked matters and humans – all
							of which gather and share statistics about the way they are used and about the surroundings
							round them. That consists of an extremely good variety of objects of all shapes and sizes.


						
						<a href="internetofthings">Read More..</a></p>

						<ul class="features-details-list">
							<li>iOT Consultancy</li>
							<li>iOT App Development
							</li>
							<li>iOT Platform</li>
							<li>iOT testing and maintenance</li>

						</ul>
					</div>
				</div>
			</div>

			<div class="separate"></div>

			<div class="row align-items-center">
				<div class="col-lg-6 features-details">

					<div class="features-details-desc">
						<h3>UI/UX Designing

						</h3>
						<p>A UI/UX designer's job is to create basic interfaces that allow customers to recognize how to
							use complicated technical products. If you are passionate about the brand new technological
							know-how tendencies and devices, you may discover brilliant achievement in being concerned
							in the format method for the subsequent warm gadget.
							<a href="uiuxdesigner">Read More.</a>
						</p>

						<ul class="features-details-list">
							<li>Graphical user interfaces (GUIs)
							</li>
							<li>Voice-controlled interfaces (VUIs)
							</li>
							<li>Gesture-based interfaces</li>

							<!-- <li>Crypto Wallet Development</li> -->
							<!-- <li>Crypto Token Development</li> -->

						</ul>
					</div>
				</div>


				<div class="col-lg-6 features-details-image">
					<img src="https://d2jzbjey2ol3gs.cloudfront.net/uploads/report/50/image/webdesign_online_lernen.jpg" class="wow fadeInUp" alt="image">
				</div>
			</div>

			<div class="separate"></div>

			<div class="row align-items-center">
				<div class="col-lg-6 features-details-image">
					<img src="https://miro.medium.com/max/3356/1*-6WdIcd88w3pfphHOYln3Q.png" class="wow fadeInUp" alt="image">
				</div>

				<div class="col-lg-6 features-details">
					<div class="features-details-desc">
						<h3>Flutter

						</h3>
						<p>Flutter is Google's new open source innovation for making local Android and iOS applications
							with one codebase. In contrast to other well known arrangements, Flutter isn't a system; it
							is a finished SDK – programming advancement unit – which as of now contains all that you'll
							had the opportunity to fabricate cross-stage applications.
							<a href="flutter">Read More.</a>

						</p>

						<ul class="features-details-list">
							<li>Fast Development </li>
							<li>Expressive and Flexible UI</li>
							<li>Native Performance</li>

						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- End Features Details Area -->


	<%- include('footer') %>