<%- include('header'); -%>

<!-- Start Page Title -->

<div class="page-title-area">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <h2>Terms and Conditions</h2>
      </div>
    </div>
  </div>

  <div class="shape1"><img src="assets/img/shape1.png" alt="shape" /></div>

  <div class="shape2 rotateme">
    <img src="assets/img/shape2.svg" alt="shape" />
  </div>

  <div class="shape3"><img src="assets/img/shape3.svg" alt="shape" /></div>

  <div class="shape4"><img src="assets/img/shape4.svg" alt="shape" /></div>

  <div class="shape5"><img src="assets/img/shape5.png" alt="shape" /></div>

  <div class="shape6 rotateme">
    <img src="assets/img/shape4.svg" alt="shape" />
  </div>

  <div class="shape7"><img src="assets/img/shape4.svg" alt="shape" /></div>

  <div class="shape8 rotateme">
    <img src="assets/img/shape2.svg" alt="shape" />
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <p>
        <b
          >These terms and conditions define the guidelines and rules for the
          use of Cognnox Website, positioned at  www.cognnox.com 
        </b>
      </p>
      <p>
        Please examine these Terms and Conditions cautiously as they will
        structure a contract between both of us . Your acceptance of which is
        agreed from the moment you agreed our Hosting Agreement, Website Design
        Agreement, Website development Agreement, search engine optimization
        Agreement , App development Agreement Or Support Agreement. <br />
        We have tried to preserve these Terms and Conditions in brief,
        convenient to understand and as Straight ahead as possible. If you have
        any questions however, please feel free to Contact us.
      </p>
      <p>
        The following terminology applies to these Terms and Conditions, Privacy
        Statement and Disclaimer Notice and all Agreements: “Client”, “You” and
        “Your” refers to you, the individual log on this internet site and
        compliant to the Company’s phrases and conditions. “The Company”,
        “Ourselves”, “We”, “Our” and “Us”, refers to our Company. “Party”,
        “Parties”, or “Us”, refers to each the Client and ourselves. All phrases
        refer to the offer, acceptance and consideration of charge integral to
        undertake the technique of our help to the Client in the most gorgeous
        manner for the specific motive of assembly the Client’s wishes in admire
        of provision of the Company’s cited services, in accordance with and
        situation to, prevailing regulation of India. Any use of the above
        terminology or different phrases in the singular, plural, capitalization
        and/or he/she or they, are taken as interchangeable and consequently as
        referring to same.
      </p>
      <h4>What do each events agree to?</h4>
      <p>
        <b> The Client consents:</b> to Provide the Organization detail, inside
        a realistic timescale, the whole data that is requested from Development
        team for the Project including Text, pictures and different information.
        . Make sure to Review our Company’s work, supply feedback, and signoff
        Approval in a well timed Manner. Make each and every effort to adhere to
        all agreed deadlines. Advise, in advance, of any personal records to be
        introduced by means of email, written, or Verbally , between each
        parties. Also, for this to be marked as ‘confidential’ in the Subject of
        the email, or sincerely on any written documents. Provide a minimal of
        one month prior notice in writing, or by e-mail before you want to
        Cancel your contract.
      </p>
      <p>
        <b
          >The Company consents to:</b> Deliver offered services in a expert and
          well timed manner. Make sure to deliver project before deadline.
          Provides a reasonable number of design, layout, colors, themes etc.
          until client is Satisfied with the format idea. Additional changes in
          format after finalize of format will be charged separately. Endeavour
          to whole requested internet site revisions or updates inside forty
          eight hours. Revision entitlement per month is dependent on your
          support Package decided during deal. Get in touch with client before
          the end of contract to discuss about contract preserving or required
          any changes in the project.
      </p><b>
      <p>Cookies</b>
        We appoint the use of cookies. By gaining access to Cognnox web, you agreed to use cookies in settlement with the Cognnox internet Services’s Privacy Policy. <br>Most interactive web sites use cookies to let us retrieve the user’s important points for every visit. Cookies are used by using our internet site to allow the performance of positive areas to make it less difficult for visitor of our website. Some of our affiliate/advertising companions may also additionally use cookies.
        </p>

        <p><b>Use License</b></p>
        <ol><li>Permission is granted to briefly down load one replica of the substances (information or software) on Cognnox Intelligent System Pvt. Ltd. internet site for personal, non-commercial transitory viewing only. This is the furnish of a license, no longer a switch of title, and below this license you may also not modify or reproduction the materials; use the substances for any business purpose, or for any public show (commercial or non-commercial); try to decompile or reverse engineer any software program contained on Cognnox Intelligent System Pvt. Ltd.'s website; dispose of any copyright or different proprietary notations from the materials; or switch the substances to any other character or "mirror" the substances on any other server.
            </li>
        <li>This license shall routinely terminate if you violate any of these restrictions and might also be terminated with the aid of Cognnox Intelligent System Pvt. Ltd. at any time. Upon terminating your viewing of these substances or upon the termination of this license, you ought to smash any downloaded substances in your possession whether or not in digital or printed format.</li></ol>



   <h4>iFrames</h4>
   <p>Without prior approval and written permission, you can also no longer create frames round our Webpages that alter in any way the visible presentation or look of our Website.</p>

<h4>Links</h4>
<p>Cognnox Intelligent System Pvt. Ltd. has now not reviewed all of the websites linked to its internet site and is no longer accountable for the contents of any such linked site. The inclusion of any hyperlink does no longer suggest endorsement by using Cognnox Intelligent System Pvt. Ltd. of the site. Use of any such linked internet site is at the user's personal risk.</p>

<h4>Hosting</h4>
<p>To make certain most useful tiers of reliability and performance, all our clients’ web sites are hosted on a excessive speed, nation of the artwork managed devoted server which makes use of a guaranteed minimal uptime carrier availability degree of 99.95%. Details of the exact specifications of our servers are freely accessible to all our customers and will be given upon request</p>

<h4>Content Liability</h4>
<p>We shall no longer be held accountable for any content material that seems on your Website. You agree to defend and shield us in opposition to all claims that are rising on your Website. No link(s) have to show up on any Website that might also be interpreted as libelous, obscene or criminal, or which infringes, in any other case violates, or advocates the infringement or different violation of, any third party rights.</p>
<h4>Confidentiality</h4>
<p>The Company adheres to all national and EU data protection, data transfer, data Retention, and confidentiality regulations and always stores data sent to us in a secure Manner within our security policy.

</p>

<h4>Changes to these Terms and Conditions:</h4>
<p>Cognnox reserves the proper to add, delete, or adjust any provision of these Terms
    and conditions at any time barring notice. Failure to get hold of notification of a trade does not
    make these modifications invalid.
    </p>

    <h4>Cancellation & Refund Policy</h4>
    <p>There will no longer be any refund will be given to customer in case of any cancellation of the services.</p>

    <h4>Disclaimer</h4>
    <p>To the most extent authorized via relevant law, we cut out all representations, warranties and prerequisites referring to  our internet site and the use of this website. Nothing in this disclaimer will:</p>

    <ul><li>Limit or exclude our or your legal responsibility for dying or private injury.</li>
    <li>Limit or exclude our or your legal responsibility for fraud or fraudulent misrepresentation.</li>
    <li>Limit any of our or your liabilities in any way that is no longer accredited below relevant law; or exclude any of our or your liabilities that can also no longer be excluded beneath relevant law.</li>

    
    </ul>
    <p>The barriers and prohibitions of legal responsibility set in this Section and some place else in this disclaimer: (a) are concern to the previous paragraph; and (b) govern all liabilities springing up underneath the disclaimer, consisting of liabilities springing up in contract, in tort and for breach of statutory duty.</p>
    <p>As lengthy as the internet site and the facts and offerings on the internet site are furnished free of charge, we will no longer be in charge for any loss or injury of any nature.</p>



    </div>
  </div>
</div>

<!-- End Page Title -->

<%- include('footer'); -%>
